name: wgn
services:
  wingetnode:
    image: wingetnode:latest
    ports:
      - "7070:7070"
      - "7071:7071"
    volumes:
      - "/mnt/c/Users/tgtesoro/source/repos/wingetnodets/docker/certs:/certs"
      - "/mnt/c/Users/tgtesoro/source/repos/wingetnode/packages:/packages"
    environment:
      WGN_MONGO_CONNECTIONSTRING: "mongodb://root:example@mongo:27017/"
      WGN_SERVERID: "DevTest"
      WGN_PRIVATEKEYPATH: "/certs/server.key"
      WGN_PUBLICKEYPATH: "/certs/server.crt"
      WGN_HTTP_PORT: "7070" 
      WGN_HTTPS_PORT: "7071"
      WGN_SERVEPACKAGES: "1"
  mongo:
    image: mongo:latest
    restart: always
    volumes:
      - "/home/tgtesoro/dockerdata/db:/data/db:rw"
      - "/home/tgtesoro/dockerdata/configdb:/data/configdb:rw"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8082:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
    